@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&family=Playwrite+DK+Loopet:wght@100..400&family=Sacramento&display=swap');*{
  color: rgba(194, 191, 191, 0.87);

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  pointer-events: none;
}

#overlay h1 {
  margin: 0;
}

#overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(00px); 
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  text-align: center;
  font-size: 3vmax;
  pointer-events: none;
}

#overlay.hide {
  transform: translate(-80%, -80%) translateY(-300px); 
  opacity: 1;
  pointer-events: none;
}


#overlay.show {
  transform: translate(-50%, -50%) translateY(0); 
  opacity: 1;
  pointer-events: auto;
}

h1 {
  word-spacing: 8px;
  letter-spacing: 2px;
  font-size: 50px;
  padding: 5px 0;
  font-family: Monoton;
  font-weight: 300;
  color: white;
}

/* CV */

.cv-floating-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 18px;
  background-color: #b99c4b;
  color: #1e1e1e;
  font-weight: 600;
  border-radius: 25px;
  font-family: Lato, sans-serif;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv-floating-button:hover {
  background-color: #d8b95e;
  transform: scale(1.05);
}

.cv-floating-button img {
  width: 18px;
  height: 18px;
  filter: invert(1); /* Rend l'icône blanche si elle est noire */
}

/* nav */

.side-nav {
  position: fixed;
  top: 20px; /* distance du haut */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row; /* les boutons en ligne */
  gap: 20px;
  z-index: 9999;
  margin-top: 10px;
}

.side-nav button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.side-nav button:hover {
  background-color: #b99c4b;
}

.side-nav button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}


.overlay-reset {
  display: flex !important;
  opacity: 1 !important;
  transform: translate(0%, -10%) !important;
}





/*

Ici on s'occupera du css de la page présentation

*/

#presentation-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  transform: translateY(80%);
  opacity: 0;
  pointer-events: none;
  transition: transform 2.2s ease, opacity 1.5s ease;
  z-index: 10;
  justify-content: center;  
  align-items: center;     
}

.presentation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  max-width: 2000px;
  flex-wrap: wrap;
}

.presentation-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.presentation-texte h2 {
  margin: 0 0 10px;
  font-size: 2.2em;
  color: #b99c4b;
  font-family: Do Hyeon;
}

.presentation-texte p {
  font-size: 1.2em;
  line-height: 1.6em;
  max-width: 500px;
  color: #ddd;
  font-family: Lato;
}


#presentation-section.enter {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

#presentation-section.exit-up {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

#presentation-section.exit-down {
  transform: translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

/* Ici on s'occupe de la partie Skills */

.skills-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100vh); /* départ centré, en bas */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: transform 1.5s ease, opacity 1s ease;
  z-index: 10;
  font-family: Lato, sans-serif;
  padding: 50px 10vw;
  background-color: transparent;
}

.skills-section.enter {
  transform: translate(-50%, 0); 
  opacity: 1;
  pointer-events: auto;
}

.skills-section.exit-up {
  transform: translate(-50%, -100vh);
  opacity: 0;
  pointer-events: none;
}

.skills-section.exit-down {
  transform: translate(-50%, 100vh); 
  opacity: 0;
  pointer-events: none;
}


.skills-section h2{
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 800;
  margin-bottom: 35px; 
  font-size: clamp(2rem, 6vw, 30rem);
}

.skills-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filter-button {
  padding: 6px 14px;
  font-size: 13px;
  background-color: transparent;
  color: #b99c4b;
  border: 1px solid #b99c4b;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.filter-button:hover,
.filter-button.active {
  background-color: #b99c4b;
  color: #1e1e1e;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  width: 120px;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  transition: transform 0.2s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.25s;
}

.skill-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
}

.skill-card p {
  font-size: 13px;
  margin: 4px 0;
  color: #eee;
}

.skill-card .learn-more {
  font-size: 12px;
  margin-top: 4px;
  color: gray;
}

.skill-card .learn-more:hover {
  color: #fff;
  transition: 0.2s;
}

/* 

Ici on s'occupe de la partie projets

*/

#projects-section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 60px 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateY(100vh);
  z-index: 10;
  overflow: hidden;
}

#projects-section.enter {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

#projects-section.exit-up {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

#projects-section.exit-down {
  transform: translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

.projects-wrapper {
  width: 100%;
  overflow: hidden;
}

.auto-scroll {
  display: flex;
  gap: 20px;
  width: max-content; 
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.project-card {
  min-width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: white;
  transition: transform 0.3s ease;
  padding-bottom: 10px;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 180px; 
  object-fit: cover;
  object-position: center; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  max-height: 180px;

}

.project-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  max-width: 280px;
}

.project-body h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #f5f5f5;
  font-family: Lato, sans-serif;
}

.project-body p {

  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.6;        
  max-width: 100%;           
  white-space: normal;      
  word-break: break-word;   
  font-family: Lato, sans-serif;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  
}

.project-tags span {
  background-color: rgba(228, 224, 224, 0.1);
  border: 1px solid rgba(240, 235, 235, 0.2);
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 0.75rem;
  color: white;
  font-family: Lato, sans-serif;
}

.project-tags span:hover {
  background-color: #ffffff;
  opacity: 0.3;
  color:black;
}

.project-links {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.project-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 0.85em;
  padding: 4px 8px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.project-links .github-link img{
  width: 18px;
  height: 18px;
}
.project-links .demo-link img {
  width: 18px;
  height: 18px;
  filter: invert(1); 

}

.project-links .github-link {
  color: #fff;
  background-color: white;
}

.project-links .github-link:hover {
  background-color: #e9c474;
  color: #1e1e1e;
}

.project-links .demo-link {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.project-links .demo-link:hover {
  background-color: #eedba7;
  color: #1e1e1e;
  filter: invert(0);

}

#projects-section h2 {
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 800;
  margin-top: -150px;
  margin-bottom: 35px;
  font-size: clamp(2rem, 6vw, 30rem);
  text-align: center;
}




/* 

Ici on s'occupe de la partie formation 

*/

.formation {
  margin-top: 20px;
  display: flex;
  gap: clamp(15px, 3vw, 30px);
  align-items: center; 
  padding: clamp(15px, 3vw, 25px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.03);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: rgba(230, 230, 230, 0.9);
  max-width: 900px;
  width: 100%;
}

.formation.reverse {
  flex-direction: row-reverse;
}

.formation-logo img {
  width: clamp(60px, 12vw, 100px);
  height: clamp(60px, 10vw, 100px);
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.formation:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.4);
}

.formation-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formation-container h2 {
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 800;
  margin-top: -30px;
  margin-bottom: 6px; 
  font-size: clamp(2rem, 5vw, 30rem);
}

.formation h3 {
  margin: 0 0 8px;
  color: #f1f1f1;
  font-size: 1.1em;
}

.formation p {
  margin: 5px 0 0;
  color: #ccc;
  font-size: 0.95em;
  line-height: 1.5;
  
}

.formation-date {
  font-size: 0.9em;
  color: #aaa;
  white-space: nowrap;
  margin-top: 3px;
}

.formation-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  
}

#section-formation {
  position: absolute;
  top: 9%;
  left: -10%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 10;
  font-family: Lato, sans-serif;
  padding: 40px 10vw;
  background-color: transparent;
  transform: translateY(100vh);
}

#section-formation.enter {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 1s ease, opacity 1s ease;
}

#section-formation.exit-up {
  transform: translateY(-100vh); 
  opacity: 0;
  pointer-events: none;
}

#section-formation.exit-down {
  transform: translateY(100vh); 
  opacity: 0;
  pointer-events: none;
}

/* 

Ici on s'occupe de Contact

*/


#section-contact {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100vh); /* ou plus bas */
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 10;
  padding: 60px 5vw;
}

#section-contact.enter {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}

#section-contact.exit-up {
  transform: translate(-50%, -100vh);
  opacity: 0;
}

#section-contact.exit-down {
  transform: translate(-50%, 100vh);
  opacity: 0;
}




























/* PARTIE RESPONSIVE */

@media (max-width: 500px) {
  body, html {
    overflow-x: hidden;
  }

  .formation {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 10px 0;
    padding: 15px 20px;
  }

  .formation-container {
    padding: 0;
    width: 100%;
  }

  .presentation-section {
    transform: translate(0%, 10%);
    top: 0;
    left: -50%;
    padding-top: 30px;         
    height: auto;              
    min-height: 100vh;
    position: absolute;
    transform: none !important;
  }

  .presentation-container {
    display: relative;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .presentation-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 27%;
    top: 20%;
  }

  .presentation-texte {
    position: absolute;
    top: 50%;    
    left: 3%;        
    width: 90%;    
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
  }

  .presentation-texte h2 {
  text-align: center;
  margin-bottom: 10px;
  }
  

  .presentation-texte p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1em;
  line-height: 1.6em;
  }

  #presentation-section {
    padding: 20px 10px;
  }

  #overlay h1 {
    font-size: 6vw;
    line-height: 1.3em;
    word-break: normal;
    white-space: normal;
  }
}

/* Skills */
@media (max-width: 600px) {
  .skill-card {
    width: 100px;
    padding: 12px;
  }

  .filter-button {
    font-size: 14px;
    padding: 8px 12px;
  }
}

/* Formation */
@media (max-width: 500px) {
  .formation {
    padding: 15px 15px;
  }

  .formation h3 {
    font-size: 1em;
  }

  .formation-date {
    font-size: 0.85em;
  }

  .formation p {
    font-size: 0.9em;
    text-align: justify;
    text-justify: inter-word;
  }
}
/* responsive projets */
@media (max-width: 600px) {
  .project-card {
    min-width: 260px;
  }

  .project-body h3 {
    font-size: 1rem;
  }

  .project-body p {
    font-size: 0.85rem;
  }
}
